<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" href="{{ static_url('img/logo.jpg') }}" type="image/x-icon">
    <title>index</title>
</head>
<body>
    <p>
        hello form
    </p>

    <form method="post" enctype="multipart/form-data" >
    {{ xsrf_form_html() }}
    	<input name="number" type="text" >
    	<input name="cover" type="file" >
    	<input name="name" type="text" >
    	<input type="submit" >
    </form>
</body>
</html>
